<a href="https://colab.research.google.com/github/salwafijri/praktikum/blob/main/Praktikum(WEEK-13).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class TheClass:
  def __init__(self, name, age):
    self.name = name
    self.age = age
p1 = TheClass("Rina", 19)
print(p1.name)
print(p1.age)

Rina
19

In [ ]:
class TheClass:
  def __init__(self, name, age):
    self.name = name
    self.age = age
  def __str__(self):
    return f"{self.name}({self.age})"
x = TheClass("Rina", 19)
print(x)

Rina(19)

In [ ]:
class TheClass:
  def __init__(self, name, age):
    self.name = name
    self.age = age
  def func(my): # with 'my' parameter
    print("My name is " + my.name)
x = TheClass("Rina", 19)
x.func()

My name is Rina

In [ ]:
# Parent class
class TheClass:
  def __init__(my, name1, name2):
    my.name1 = name1
    my.name2 = name2
  def func(my): # with 'my' parameter
    print(my.name1, my.name2)
x = TheClass("Rina", "Panduwinata")
x.func()

Rina Panduwinata

In [ ]:
# child class
class Human(TheClass):
  def __init__(my, name1, name2):
    my.name1 = name1
    my.name2 = name2
  def func(my): # with 'my' parameter
    print(my.name1, my.name2)
x = Human("Rina", "Panduwinata")
x.func()

Rina Panduwinata

In [ ]:
# iteration
class MyNumbers:
  def __iter__(my):
    my.a = 1
    return my

  def __next__(my):
    if my.a < 30:
      x = my.a
      my.a += 2
      return x
    else:
      raise StopIteration

myclass = MyNumbers()
data = iter(myclass)

for x in data:
  print(x)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

  **weekly  excercise 1**

In [1]:
class AlatTulis:
    def __init__(self, nama):
        self.nama = nama
        self.stok = 0
        self.harga_satuan = 0
        self.harga_total = 0
        self.harga_terjual = 0  # Untuk mencatat pendapatan yang diperoleh dari barang terjual

    def set_data(self, stok, harga_satuan):
        self.stok = stok
        self.harga_satuan = harga_satuan
        self.harga_total = self.stok * self.harga_satuan

    def get_data(self):
        return f"Nama: {self.nama} --> Stok: {self.stok}, Harga Satuan: {self.harga_satuan}, Harga Total: {self.harga_total}"

    def jual(self, jumlah):
        if jumlah > self.stok:
            print(f"Stok {self.nama} tidak mencukupi untuk penjualan!")
        else:
            self.stok -= jumlah
            # Menambahkan pendapatan yang diperoleh dari penjualan barang
            self.harga_terjual += jumlah * self.harga_satuan
            print(f"{jumlah} {self.nama} berhasil terjual!")

    def get_harga_terjual(self):
        return self.harga_terjual


class Transaksi:
    def __init__(self):
        self.total_harga = 0

    def set_total_harga(self, daftar_alat_tulis):
        # Menambahkan harga terjual setiap alat tulis ke total pendapatan
        self.total_harga = sum(item.get_harga_terjual() for item in daftar_alat_tulis)

    def get_total_harga(self):
        return self.total_harga


# Data sebelum penjualan
bolpoint = AlatTulis("Bolpoint")
bolpoint.set_data(10, 2000)

pensil = AlatTulis("Pensil")
pensil.set_data(10, 1000)

penghapus = AlatTulis("Penghapus")
penghapus.set_data(10, 500)

print("Data Alat Tulis Sebelum Penjualan:")
for alat_tulis in [bolpoint, pensil, penghapus]:
    print(alat_tulis.get_data())
print("\nTransaksi yang masuk:")

# Penjualan
bolpoint.jual(10)
pensil.jual(10)
penghapus.jual(10)

# Data setelah penjualan
transaksi = Transaksi()
transaksi.set_total_harga([bolpoint, pensil, penghapus])

print("\nData Alat Tulis Setelah Penjualan:")
for alat_tulis in [bolpoint, pensil, penghapus]:
    print(alat_tulis.get_data())

print(f"\nTotal Pendapatan Keseluruhan: Rp. {transaksi.get_total_harga()}")

Data Alat Tulis Sebelum Penjualan:
Nama: Bolpoint --> Stok: 10, Harga Satuan: 2000, Harga Total: 20000
Nama: Pensil --> Stok: 10, Harga Satuan: 1000, Harga Total: 10000
Nama: Penghapus --> Stok: 10, Harga Satuan: 500, Harga Total: 5000

Transaksi yang masuk:
10 Bolpoint berhasil terjual!
10 Pensil berhasil terjual!
10 Penghapus berhasil terjual!

Data Alat Tulis Setelah Penjualan:
Nama: Bolpoint --> Stok: 0, Harga Satuan: 2000, Harga Total: 20000
Nama: Pensil --> Stok: 0, Harga Satuan: 1000, Harga Total: 10000
Nama: Penghapus --> Stok: 0, Harga Satuan: 500, Harga Total: 5000

Total Pendapatan Keseluruhan: Rp. 35000