<a href="https://colab.research.google.com/github/salwafijri/praktikum/blob/main/Praktikum(WEEK-10).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**memanggil function pada python**

In [ ]:
def my_function():
  print("Hello, world!")
my_function()  #untuk memanggil fungsi

Hello, world!

**Arguments**

In [ ]:
#function expects 1 arguments, and gets 1 arguments:
def my_func(name):
  print(name + " Aulia")
my_func("Putri")
my_func("Sarah")

Putri Aulia
Sarah Aulia

In [ ]:
#function expects 2 arguments, and gets 2 arguments:
def my_function(name1, name2):
  print(name1 + " " + name2)
my_function("Siti", "Nurhaliza")

Siti Nurhaliza

**Arbitrary Arguments**

In [ ]:
def my_function(*human):
  print("My name is " + human[1])
my_function("dipsy", "lala", "po")

My name is lala

**keyword arguments**

In [ ]:
def my_function(human):
  print("My name is " + human)
my_function(human = "dipsy")

My name is dipsy

**Arbitary keyword arguments**

In [ ]:
def my_function(**human):
  print("My last name is " + human["name2"])
my_function(name1 = "Lala", name2 = "Po")

My last name is Po

**default parameter value**

In [ ]:
def my_function(country = "russia"):
  print("I am from " + country)
my_function()

I am from russia

In [ ]:
def my_function(color):
  for x in color:
    print(x)
color = ["black", "orange", "yellow"]
my_function(color)

black
orange
yellow

**return value**

In [ ]:
def my_function(n):
  return 2 * n + 3 * 4

print(my_function(3))
print(my_function(5))
print(my_function(9))

18
22
30

**recursion**

In [ ]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Results:")
tri_recursion(3)

Recursion Results:
1
3
6

6

**Weekly Exercise 1**

In [2]:
n = int(input("Masukkan bilangan bulat = "))

while n < 0:
  n = int(input("Faktorial tidak didefinisikan untuk bilangan negatif.\nMasukkan bilangan bulat non-negatif = "))
  if n >= 0:
    break
def fakt(n):
  if n == 0 or n == 1:
    return 1
  else:
    return n * fakt(n-1)

print("Hasil faktorial dari", n, "adalah", fakt(n))

Masukkan bilangan bulat = -3
Faktorial tidak didefinisikan untuk bilangan negatif.
Masukkan bilangan bulat non-negatif = 3
Hasil faktorial dari 3 adalah 6

**Weekly Exercise 2**

In [4]:
def luas_lingkaran(r):
  return 3.14 * r**2

def luas_persegi(sisi):
  return sisi**2

def luas_segitiga(a, t):
  return 0.5 * a * t

def hasil():
  print("\nPilih perhitungan:")
  print("1. Luas Lingkaran")
  print("2. Luas Persegi")
  print("3. Luas Segitiga")
  print("4. Selesai")

  pilihan = input("Masukkan pilihan (1/2/3/4): ")
  if pilihan == '1':
    r = float(input("jari-jari lingkaran: "))
    luas = luas_lingkaran(r)
    print(f"Luas lingkaran: {luas}")
  elif pilihan == '2':
    sisi = float(input("panjang sisi persegi: "))
    luas = luas_persegi(sisi)
    print(f"Luas Persegi: {luas}")
  elif pilihan == '3':
    a = float(input("panjang alas segitiga: "))
    t = float(input("tinggi segitiga: "))
    luas = luas_segitiga(a, t)
    print(f"Luas segitiga: {luas}")
  elif pilihan == '4':
    print("Program selesai.")
    return 0
  else:
    print("Pilihan tidak valid. Silakan coba lagi dengan memasukkan angka 1, 2, 3, atau 4.")
  hasil()
hasil()

Pilih perhitungan:
1. Luas Lingkaran
2. Luas Persegi
3. Luas Segitiga
4. Selesai
Masukkan pilihan (1/2/3/4): 2
panjang sisi persegi: 5
Luas Persegi: 25.0

Pilih perhitungan:
1. Luas Lingkaran
2. Luas Persegi
3. Luas Segitiga
4. Selesai
Masukkan pilihan (1/2/3/4): 4
Program selesai.