<a href="https://colab.research.google.com/github/salwafijri/praktikum/blob/main/Praktikum(WEEK-02).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# WEEKLY EXERCISE 1

panjang = 20.5
lebar = 25
tinggi = 10

keliling = 2 * (panjang + lebar)
luas = panjang * lebar
volume = panjang * lebar * tinggi

print("Panjang = " + str(panjang))
print("Lebar = " + str(lebar))
print("Tinggi = " + str(tinggi))
print("Keliling = " + str(keliling))
print("Luas = " + str(luas))
print("Volume = " + str(volume))

Panjang = 20.5
Lebar = 25
Tinggi = 10
Keliling = 91.0
Luas = 512.5
Volume = 5125.0

In [1]:
# WEEKLY EXERCISE 2

# Data Mahasiswa
nilai_shafira = [85 , 75]  # kolom 1 adalah nilai kalkulus dan kolom 2 adalah nilai statistika
nilai_amanda = [80 , 90]
nilai_aditya = [75 , 80]
nilai_nedia = [95 , 80]
nilai_widya = [85 , 85]
nilai_hanif = [75 , 90]
nilai_andi = [70 , 75]
nilai_dhanar = [85 , 85]
nilai_hikma = [80 , 75]

# Rata-rata nilai Shafira pada kedua mata kuliah
mean_shafira = (nilai_shafira[0] + nilai_shafira[1]) / 2  # [0] = kolom 1 , [1] = kolom 2
print("Rata-rata nilai Shafira : " + str(mean_shafira))

print(" ")
# Jumlah nilai Hanif dan Andi untuk semua mata kuliah
jumlah_hanif = nilai_hanif[0] + nilai_hanif[1]
jumlah_andi = nilai_andi[0] + nilai_andi[1]
jumlah_hanif_andi = jumlah_hanif + jumlah_andi
print("Jumlah nilai Hanif pada kedua mata kuliah : " + str(jumlah_hanif))
print("Jumlah nilai Andi pada kedua mata kuliah : " + str(jumlah_andi))
print("Jumlah nilai hanif dan Andi pada kedua mata kuliah : " + str(jumlah_hanif_andi))

print(" ")
# Rata-rata nilai Widya, Dhanar, Hikma, dan Nedia pada masing-masing mata kuliah
mean_kal_4_anak = (nilai_widya[0] + nilai_dhanar[0] + nilai_hikma[0] + nilai_nedia[0]) / 4
mean_stat_4_anak = (nilai_widya[1] + nilai_dhanar[1] + nilai_hikma[1] + nilai_nedia[1]) / 4
print("Rata-rata nilai Widya, Dhanar, Hikma, dan Nedia pada mata kuliah Kalkulus 1 : " + str(mean_kal_4_anak))
print("Rata-rata nilai Widya, Dhanar, Hikma, dan Nedia pada mata kuliah Metode Statistika : " + str(mean_stat_4_anak))

print(" ")
# Rata-rata nilai mata kuliah Kalkulus 1 untuk semua mahasiswa
mean_kal = (nilai_shafira[0] + nilai_amanda[0] + nilai_aditya[0]
                      + nilai_nedia[0] + nilai_widya[0] + nilai_hanif[0]
                      + nilai_andi[0] + nilai_dhanar[0] + nilai_hikma[0]) / 9
print("Rata-rata nilai Kalkulus 1 : " + str(mean_kal))

print(" ")
# Rata-rata nilai mata kuliah Metode Statistika untuk semua mahasiswa
mean_stat = (nilai_shafira[1] + nilai_amanda[1] + nilai_aditya[1]
                      + nilai_nedia[1] + nilai_widya[1] + nilai_hanif[1]
                      + nilai_andi[1] + nilai_dhanar[1] + nilai_hikma[1]) / 9
print("Rata-rata nilai Metode Statistika : " + str(mean_stat))

Rata-rata nilai Shafira : 80.0

Jumlah nilai Hanif pada kedua mata kuliah : 165
Jumlah nilai Andi pada kedua mata kuliah : 145
Jumlah nilai hanif dan Andi pada kedua mata kuliah : 310

Rata-rata nilai Widya, Dhanar, Hikma, dan Nedia pada mata kuliah Kalkulus 1 : 86.25
Rata-rata nilai Widya, Dhanar, Hikma, dan Nedia pada mata kuliah Metode Statistika : 81.25

Rata-rata nilai Kalkulus 1 : 81.11111111111111

Rata-rata nilai Metode Statistika : 81.66666666666667

In [2]:
# WEEKLY EXERCISE 3

# konstanta
GAJI_PER_JAM = 30000
JAM_KERJA_PER_HARI = 8 # dalam jam
HARI_KERJA_AGUSTUS = 31 - 3  # Hari kerja di bulan Agustus (31 hari - 3 hari absen)
PERSENTASE_TUNJANGAN = 10 / 100  # Tunjangan 10% jika bekerja lebih dari 5 tahun
GAJI_LEMBUR_PER_JAM = 10000
JAM_LEMBUR = 5  # Jam lembur pada bulan Agustus
TAHUN_KERJA = 10  # Lama bekerja (dalam tahun)

# Menghitung gaji pada bulan Agustus
gaji_pokok = HARI_KERJA_AGUSTUS * JAM_KERJA_PER_HARI * GAJI_PER_JAM
print("Gaji pokok Dwi pada bulan Agustus = Rp " + str(gaji_pokok))

# Menghitung tunjangan jika bekerja lebih dari 5 tahun
if TAHUN_KERJA > 5:
    tunjangan = gaji_pokok * PERSENTASE_TUNJANGAN
else:
    tunjangan = 0
print("Tunjangan yang diterima oleh Dwi pada bulan Agustus = Rp " + str(tunjangan))

# Menghitung gaji total (dengan gaji lembur dan tunjangan)
gaji_lembur = JAM_LEMBUR * GAJI_LEMBUR_PER_JAM
gaji_total = gaji_pokok + tunjangan + gaji_lembur
print("Gaji total Dwi pada bulan Agustus = Rp " + str(gaji_total))

Gaji pokok Dwi pada bulan Agustus = Rp 6720000
Tunjangan yang diterima oleh Dwi pada bulan Agustus = Rp 672000.0
Gaji total Dwi pada bulan Agustus = Rp 7442000.0