<a href="https://colab.research.google.com/github/salwafijri/praktikum/blob/main/Praktikum%20(WEEK_04).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Condition Equal
a = 5
a == 8

False

In [ ]:
# Inequality Sign

i = 1
i != 9

True

In [ ]:
# Inequality Sign

i = 1
i != 1

False

In [ ]:
# Use Equality sign to compare the strings
"UNTIDAR" == "Teknologi Informaasi"

False

In [ ]:
# Use Equality sign to compare the strings
"UNTIDAR" != "Teknologi Informaasi"

True

In [ ]:
# Compare characters
# the value for Z is larger than A

'Z' > 'A'

True

In [ ]:
# Compare characters

'R' < 'A'

False

In [ ]:
# If statement example

#age = 25
age = 20

if age > 20:
    print("you can enter" )
print("let's go!")

let's go!

In [ ]:
# Else Statement

#age = 20
age = 24

if age > 23:
    print("you can enter")
else:
    print("go see meat loaf")
    #print("let's go!")
print("let's go!")

you can enter
let's go!

In [ ]:
# Elif statment example

age = 20

if age > 20:
    print("you can enter" )
elif age == 20:
    print("go see frozen")
else:
    print("go see meat loaf")

print("let's go!")

go see frozen
let's go!

**QUIZ**

In [ ]:
#rate = 8.5
rate = float(input("Rate for this album is "))

if rate > 8:
    print("This Album is Amazing!")

Rate for this album is 8.5
This Album is Amazing!

**Weekly Exercise 1**

In [ ]:
Umur = int(input("Umur = "))
# pakai int karena nilai yang dimasukkan tipenya integer

if Umur >= 17:
  print("Boleh Membuat SIM")
else:
  print("Tidak Boleh Membuat SIM")

Umur = 12
Tidak Boleh Membuat SIM

In [ ]:
Umur = int(input("Umur = "))

if Umur >= 17:
  print("Boleh Membuat SIM")
else:
  print("Tidak Boleh Membuat SIM")

Umur = 18
Boleh Membuat SIM

**Weekly Exercise 2**

In [ ]:
Nilai = int(input("Nilai = "))
# pakai int karena nilai yang dimasukkan tipenya integer

if Nilai >= 90:
  print("Grade = 'A'")
elif Nilai >= 80:
  print("Grade = 'B+'")
elif Nilai >= 70:
  print("Grade = 'B'")
elif Nilai >= 60:
  print("Grade = 'C+'")
elif Nilai >= 50:
  print("Grade = 'C'")
elif Nilai >= 40:
  print("Grade = 'D'")
else:
  print("Grade = 'E'")

Nilai = 67
Grade = 'C+'

**Weekly Exercise 3**

In [4]:
Nilai = float(input("Nilai = "))
# pakai float karena nilai yang dipakai berbentuk desimal

if 80.00 <= Nilai <= 100:
  print("Grade = 'A'")
elif 77.50 <= Nilai <= 79.99:
  print("Grade = 'A-'")
elif 75.00 <= Nilai <= 77.49:
  print("Grade = 'A/B'")
elif 72.50 <= Nilai <= 74.99:
  print("Grade = 'B+'")
elif 70.00 <= Nilai <= 72.49:
  print("Grade = 'B'")
elif 67.50 <= Nilai <= 69.99:
  print("Grade = 'B-'")
elif 65.00 <= Nilai <= 67.49:
  print("Grade = 'B/C'")
elif 62.50 <= Nilai <= 64.99:
 print("Grade = 'C+'")
elif 60.00 <= Nilai <= 62.49:
  print("Grade = 'C'")
elif 55.00 <= Nilai <= 59.99:
  print("Grade = 'C-'")
elif 50.00 <= Nilai <= 54.99:
  print("Grade = 'C/D'")
elif 45.00 <= Nilai <= 49.99:
  print("Grade = 'D+'")
elif 40.00 <= Nilai <= 44.99:
  print("Grade = 'D'")
else:
  print("Grade = 'E'")

Nilai = 72.15
Grade = 'B'