<a href="https://colab.research.google.com/github/salwafijri/praktikum/blob/main/Praktikum(WEEK-06).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Loops in Python**

In [ ]:
#range
range(5)

range(0, 5)

In [ ]:
# 'for' loops
Nilai = [90,92,94,96]
N = 2

for a in range(N):
    print(Nilai[a])

90
92

In [ ]:
# 'While' Loop
list = [2, 4, 6, 8]

i = 0
num = 0

while(num != 6):
    num = list[i]
    i = i + 1
    print(num)

print("It took ", i ,"repetitions to get out of loop.")

2
4
6
It took  3 repetitions to get out of loop.

In [ ]:
# 'Nested' Loop

# outer loop
for i in range(0, 11):
    # nested loop
    for j in range(0, 11):
        print(i * j, end=' ')
    print()

0 0 0 0 0 0 0 0 0 0 0
0 1 2 3 4 5 6 7 8 9 10
0 2 4 6 8 10 12 14 16 18 20
0 3 6 9 12 15 18 21 24 27 30
0 4 8 12 16 20 24 28 32 36 40
0 5 10 15 20 25 30 35 40 45 50
0 6 12 18 24 30 36 42 48 54 60
0 7 14 21 28 35 42 49 56 63 70
0 8 16 24 32 40 48 56 64 72 80
0 9 18 27 36 45 54 63 72 81 90
0 10 20 30 40 50 60 70 80 90 100

In [ ]:
# While Loop Inside a For Loop

flowers = ['Rose', 'Jasmine', 'Lily']
# outer loop
for flower in flowers:
    # inner while loop
    a = 0
    while a < 10:
        print(flower, end=' ')
        # increment counter
        a = a + 1
    print()

Rose Rose Rose Rose Rose Rose Rose Rose Rose Rose
Jasmine Jasmine Jasmine Jasmine Jasmine Jasmine Jasmine Jasmine Jasmine Jasmine
Lily Lily Lily Lily Lily Lily Lily Lily Lily Lily

In [ ]:
# Break Nested Loop

for a in range(0, 4):
  for b in range(0, 4):
    if b == a:
      break
    print(a, b)

1 0
2 0
2 1
3 0
3 1
3 2

In [ ]:
# Continue Nested Loop

x = [5, 10, 15]
y = [2, 4, 6]
for i in x:
  for j in y:
    if i == j:
      continue
    print(i, '+', j, '= ', i + j)

5 + 2 =  7
5 + 4 =  9
5 + 6 =  11
10 + 2 =  12
10 + 4 =  14
10 + 6 =  16
15 + 2 =  17
15 + 4 =  19
15 + 6 =  21

In [ ]:
# Nested While Loop

i = 1

while (i <= 5) :
    bintang = ""
    j = 5
    k = 2
    while (j >= i) :
        bintang += " "
        j -= 1
    while (k <= i) :
        bintang += "*_"
        k += 1
    bintang += "*"
    print(bintang)
    i += 1

     *
    *_*
   *_*_*
  *_*_*_*
 *_*_*_*_*

# **Weekly Exercise 1**

In [2]:
n = int(input("Jumlah baris piramida bintang = "))

for a in range(1, n+1, 1):
  star = ""
  for b in range(n, a, -1):
      star += " "  # cetak spasi
  for c in range(1, a, 1):
    star += "* " # cetak "* "
  star += "*" # cetak lagi "*"
  print(star)

Jumlah baris piramida bintang = 6
     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *

## **Weekly Exercise 2**

In [ ]:
N = int(input("jumlah baris segitiga pascal = "))

for i in range(1, N + 1): # i adalah nomor baris saat ini
    # Cetak spasi
    for j in range(0, N - i + 1): # j merepresentasikan nomor kolom saat ini di dalam baris

        print(" ", end="")
    a = 1
    for j in range(1, i+1):
      print(' ', a, sep='', end='')
      a = a * (i - j) // j
    print()

jumlah baris segitiga pascal = 5
      1
     1 1
    1 2 1
   1 3 3 1
  1 4 6 4 1

# **Weekly Exercise 3**

In [6]:
N = int(input("Baris ke = "))

N = N - 1
a = 1
jumlah = 0

for j in range(N + 1):
    print(a, end=" ")  # Cetak setiap angka dalam baris
    jumlah += a  # Tambahkan angka ke total jumlah baris
    # Hitung angka berikutnya dalam baris
    a = a * (N - j) // (j + 1)  # kombinasi berikutnya dalam baris
print(f"\nHasil penjumlahan angka di baris ke", N + 1, "adalah", jumlah)

Baris ke = 5
1 4 6 4 1
Hasil penjumlahan angka di baris ke 5 adalah 16