<a href="https://colab.research.google.com/github/salwafijri/praktikum/blob/main/Praktikum(WEEK-06).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**List**

In [ ]:
# list items and change list items
color = ["white", "blue", "pink"]
color[1] = "black"
print(color)

['white', 'black', 'pink']

In [ ]:
# list lenght
print(len(color))

3

In [ ]:
#String, int and boolean data types in list:
list1 = ["white", "blue", "pink"]
list2 = [0, 9, 6, 4, 1]
list3 = [True, False, False]
list4 = ["white", "27", True, 40]
list5 = list1 + list2 + list3
print(list1)
print(list2)
print(list3)
print(list4)
print(list5)

['white', 'blue', 'pink']
[0, 9, 6, 4, 1]
[True, False, False]
['white', '27', True, 40]
['white', 'blue', 'pink', 0, 9, 6, 4, 1, True, False, False]

In [ ]:
# type
color = ["white", "blue", "pink"]
print(type(color))

<class 'list'>

In [ ]:
color = ["white", "blue", "pink"]
print(color[1])
print(color[-3])
print(color[:3])

blue
white
['white', 'blue', 'pink']

In [ ]:
if "white" in color:
  print("Yes, 'white' is in the color list")
else :
  print("No")

Yes, 'white' is in the color list

In [ ]:
# 'for' loop list
color = ["white", "blue", "pink"]
for x in color:
  print(x)

white
blue
pink

In [ ]:
color = ["white", "blue", "pink"]
i = 0
while i < len(color):
  print(color[i])
  i = i + 1

white
blue
pink

In [ ]:
# join list
list1 = ["white", "blue", "pink"]
list2 = [0, 9, 6, 4, 1]
for x in list2:
  list1.append(x)

print(list1)

['white', 'blue', 'pink', 0, 9, 6, 4, 1]

In [ ]:
thisdict =	{
  "brand": "salwa",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict:
  print(x)

brand
model
year

**Tuple**

In [ ]:
# tuple items
data = ("nama", "kelas", "absen")
print(data)

('nama', 'kelas', 'absen')

In [ ]:
# loop in tuple
data = ("nama", "kelas", "absen")
for x in data:
  print(x)

nama
kelas
absen

**Set**

In [ ]:
data1 = {"white", "blue", "pink"}
data2 = {0, 9, 6, 4, 1}
data3 = {True, False, False}
data4 = {"white", "27", True, 40}
data5 = list1 + list2 + list3
print(data1)
print(data2)
print(data3)
print(data4)
print(data5)

{'white', 'pink', 'blue'}
{0, 1, 4, 6, 9}
{False, True}
{40, 'white', '27', True}
['white', 'blue', 'pink', 0, 9, 6, 4, 1, 0, 9, 6, 4, 1, True, False, False]

In [ ]:
# loops set
for x in data4:
  print(x)

40
white
27
True

In [ ]:
# keep only the duplicate
data1 = {"white", "blue", "pink"}
data2 = {"black", "yellow", "white"}
data1.intersection_update(data2)
print(data1)

{'white'}

In [ ]:
# keep all but not the duplicate
data1 = {"white", "blue", "pink"}
data2 = {"black", "yellow", "white"}
data1.symmetric_difference_update(data2)
print(data1)

{'yellow', 'black', 'pink', 'blue'}

**Dictionary**

In [ ]:
# dictionary items
dict_data = {
    "Nama:": "Salwa Fijri Rahayu",
    "Kelas:": "Rombel 1",
    "Tanggal Lahir:": "6 Januari 2007"
}
print(dict_data)

{'Nama:': 'Salwa Fijri Rahayu', 'Kelas:': 'Rombel 1', 'Tanggal Lahir:': '6 Januari 2007'}

In [ ]:
# loops
for x, y in dict_data.items():
  print(x, y)

Nama: Salwa Fijri Rahayu
Kelas: Rombel 1
Tanggal Lahir: 6 Januari 2007

In [ ]:
# nested dictionary
students = {
 "child1" : {
  "name" : "ara",
  "year" : 2005
 },
 "child2" : {
  "name" : "lana",
  "year" : 2007
 }
}
print(students)

{'child1': {'name': 'ara', 'year': 2005}, 'child2': {'name': 'lana', 'year': 2007}}

**Weekly Exercise 1**

perbedaan dari list, tuple, set dan dictionary dalam python:
<li> List adalah sebuah koleksi atau collection type yang diurutkan dan dapat diubah. Kita hanya perlu memasukkan data-data yang ingin dimasukkan ke dalam tanda kurung siku ([ ]) dan dipisahkan dengan koma. Dapat di tambah ataupun dikurang jumlah elemennya. </li>
<li> Tuple adalah koleksi yang diurutkan dan tidak dapat diubah. Memungkinkan anggota duplikat. Tuple juga dapat diisi dengan tipe data yang berbeda-beda. </li>
<li> Set adalah koleksi yang tidak terurut, tidak dapat diubah, dan tidak mengenal indeks. Tidak ada anggota duplikat. </li>
<li> Dictionary adalah kumpulan pasangan kunci dan nilai (key : value) yang terurut dan dapat diubah. Tidak ada anggota duplikat. </li>

**Weekly Exercise 2**

In [ ]:
list_data = [    #list
  {    #dictionary
    "Nama": "Salwa Fijri Rahayu",
    "Kelas": "Rombel 1",
    "Tanggal Lahir": "6 Januari 2007",
    "No HP": "0123456789",
    "Alamat": "Magelang Utara, Kota Magelang",
    "Hobi": ["Mendengarkan musik", "Membaca", "Menonton"] #list
  }
]

for mahasiswa in list_data:
  for x, y in mahasiswa.items():
    if x == "Hobi":
      print(f"{x} :")
      a = 1  # Inisialisasi penomoran untuk hobi
      for hobi in y:
        print(f"  {a}. {hobi}")
        a += 1
    else:
      print(f"{x} : {y}")
  print()

print("tipe collection: ", type(list_data))
print("tipe collection: ", type(mahasiswa))

Nama : Salwa Fijri Rahayu
Kelas : Rombel 1
Tanggal Lahir : 6 Januari 2007
No HP : 0123456789
Alamat : Magelang Utara, Kota Magelang
Hobi :
  1. Mendengarkan musik
  2. Membaca
  3. Menonton

tipe collection:  <class 'list'>
tipe collection:  <class 'dict'>